label: gpt
unit: sectors
first-lba: 32768

/dev/mmcblk1p1 : start=      65536, size=      2097152, type=0FC63DAF-8483-4772-8E79-3D69D8477DE4, name="${DEV_NAME}-Boot", attrs="LegacyBIOSBootable"
/dev/mmcblk1p2 : start=      2162688,                     type=0FC63DAF-8483-4772-8E79-3D69D8477DE4, name="${DEV_NAME}-RootFS"
